@font-face {font-family: "Breamcatcher"; src: url("//db.onlinewebfonts.com/t/d4ccc48c66b7c07c692ae80633360821.eot"); src: url("//db.onlinewebfonts.com/t/d4ccc48c66b7c07c692ae80633360821.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d4ccc48c66b7c07c692ae80633360821.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d4ccc48c66b7c07c692ae80633360821.woff") format("woff"), url("//db.onlinewebfonts.com/t/d4ccc48c66b7c07c692ae80633360821.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d4ccc48c66b7c07c692ae80633360821.svg#Breamcatcher") format("svg"); }
$copy-font: "brandon-grotesque", sans-serif;
$Breamcatcher: "Breamcatcher", sans-serif;

$orange: #E25D34;
$grey: #40403F;
$black: #282828;
$light-grey: #D6D2C9;

$off-white: #FCF0E4;
$navy: #1A1F32;
$dark-navy: #0F131F;


@mixin row  {
    display: flex;
    flex-direction: row;
}

@mixin col  {
    display: flex;
    flex-direction: column;
}