@import '_vars';
html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}


html, body {
    height: 100%;
}

img, embed, object, video {
	max-width: 100%;
	height: auto;
}

body {
    background-color: $grey;;
    color: white;
    font-family: $copy-font;
}

h1, h2 {
    font-family: $Breamcatcher;
}

a {
    text-decoration: none;
    color: white;
}

button {
    border: none;
    color: white;
    font-family: $Breamcatcher;
    font-weight: bold;
    font-size: 2.2em;
    cursor: pointer;
    @include row;
}

input {
    padding: 12px 0;
    margin-top: 10px;
    width: 100%;
    font-family: $copy-font;
    font-size: 1.2em;
    padding-left: 10px;
}

::placeholder {
    font-family: $copy-font;
    text-transform: capitalize;
}

.hidden {
    display: none;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.link {
    text-decoration: none;
    color: white;
}

.main-heading {
    font-family: $Breamcatcher;
    font-size: 3em;
}

.button {
    font-weight: bold;
    padding: 20px 0;
    padding-left: 10px;
    width: 100%;
}

.fill {
    background-color: $orange;
}

.border {
    border: solid 1px $light-grey;
}

.button-input {
    font-weight: bold;
    padding: 14px 0;
    position: relative;
    margin-top: 40px;
    @include col;
    align-items: center;
}

.button-arrow {
    position: absolute;
    right: 10px;
}

.avatar {
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
    border-bottom: 10px solid black;
}

@import 'modules/_header';
@import 'modules/_addUser';
@import 'modules/_login';
@import 'modules/_users';
@import 'modules/_mediaNav';
@import 'modules/_filterResults';
@import 'modules/_userHome';
@import 'modules/_dashboardFilm';
@import 'modules/_dashboardTv';
@import 'modules/_dashboardMusic';
@import 'modules/_mediaInfo';
@import 'modules/_comment';
@import 'modules/_addComment';
@import 'modules/_footer';

