@import '_vars';
@import 'modules/_header';
@import 'modules/_landing';
@import 'modules/_addUser';
@import 'modules/_login';
@import 'modules/_users';
@import 'modules/_dashboardFilm';
@import 'modules/_dashboardTv';
@import 'modules/_dashboardMusic';
@import 'modules/_footer';

html, body {
    height: 100%;
}

img, embed, object, video {
	max-width: 100%;
	height: auto;
}

body {
    background-color: $grey;;
    color: white;
    font-family: $copy-font;
}

h1, h2 {
    font-family: $Breamcatcher;
}

h1 {
    font-weight: bold;
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
    font-weight: bold;
}

h3 {
    font-size: 1.8em;
}

a {
    text-decoration: none;
    color: white;
}

button {
    border: none;
    color: white;
    font-family: $Breamcatcher;
    font-weight: bold;
    font-size: 2.2em;
    cursor: pointer;
    @include row;
}

input {
    padding: 12px 0;
    margin-top: 10px;
    width: 100%;
    font-family: $copy-font;
    font-size: 1.2em;
    padding-left: 10px;
}

::placeholder {
    font-family: $copy-font;
}

.hidden {
    display: none;
}

.link {
    text-decoration: none;
    color: white;
}

.button {
    font-weight: bold;
    padding: 20px 0;
    padding-left: 10px;
    width: 100%;
}

.fill {
    background-color: $orange;
}

.border {
    border: solid 1px $light-grey;
}

.button-input {
    font-weight: bold;
    padding: 14px 0;
}

