<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Roku FlashBack</title>
  <link rel="stylesheet" href="https://use.typekit.net/its0ltk.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/main.css">

  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
    integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>

<body>
  <main id="app">
    <header class="header">
      <router-link :to="{ name: 'login' }" class="roku-logo"><img src="images/roku.svg" alt="Roku logo"></router-link>
      <router-link :to="{ name: 'login' }" class="flashback-logo"><img src="images/flashback.svg" alt="Flashback logo"></router-link>
      <div v-on:click="expandBurger" class="burger" ><img :class="{'rotated':burger.isExpanded}" src="images/burger.svg" alt="burger menu icon"></div>
      <ul class="nav" :class="{ 'expanded' : burger.isExpanded }">
        <div v-on:click="closeBurger" class="close-burger">
          <i class="fas fa-times"></i>
          <span class="nav-link">Close</span>
        </div>
        
        <li v-if="authenticated">
          <router-link :to="{ name: 'userhome' }" class="link">
            <i class="fas fa-home"></i>
            <span class="nav-link">Home</span>
          </router-link>
        </li>
        <li v-if="admin">
          <router-link :to="{ name: 'userprofile' }" class="link">
            <i class="fas fa-user"></i>
            <span class="nav-link">Profile</span>
          </router-link>
        </li>
        <li>
          <a href="#" class="link">
            <i class="fas fa-search"></i>
            <span class="nav-link">Search</span>
          </a>
        </li>
        <li v-if="admin">
          <a href="#" class="link">
            <i class="fas fa-cog"></i>
            <span class="nav-link">Settings</span>
          </a>
        </li>
        <li v-if="kids">
          <a href="#" class="link">
            <i class="fas fa-globe"></i>
            <span class="nav-link">Language</span>
          </a>
        </li>
        <li v-if="kids">
          <a href="#" class="link">
            <i class="fas fa-closed-captioning"></i>
            <span class="nav-link">Captions</span>
          </a>
        </li>
        <li>
          <a href="#" class="link">
            <i class="far fa-copyright"></i>
            <span class="nav-link">Legal</span>
          </a>
        </li>
        <li v-if="authenticated" @click="logout" class="link">
          <i class="fas fa-sign-out-alt"></i>
          <span class="nav-link">Logout</span>
        </li>
      </ul>
    </header>
  
    <router-view @authenticated="setAuthenticated" @gohome="navigateToHome"/>
  </main>

  <footer>
    <h1 class="hidden">Footer</h1>
  </footer>

  <script type="module" src="js/main.js"></script>
</body>

</html>