.add-user-wrapper {
    @include col;
    align-items: center;
    margin-bottom: 80px;
    margin-left: 50px;
    margin-right: 50px;
    h2 {
        margin-top: 100px;
    }
}

.add-user-form {
    @include col;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    h3 {
        margin-top: 80px;
        font-size: 2em;
        margin-bottom: 30px;
        font-weight: bold;
    }
}

.avatar-wrapper {
    //margin-top: 100px;
    @include col;
    align-items: center;
    legend {
        font-size: 2em;
        margin-bottom: 30px;
        font-weight: bold;
        text-align: center;
    }
}

.avatars {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    margin-top: 20px;
}

.add-user-avatar {
    width: 100%;
    height: 150px;
    cursor: pointer;
}

// .already-member {
//     @include row;
//     margin: 40px 0;
//     .link {
//         margin-left: 10px;
//         text-transform: uppercase;
//         transition: all ease .5s;
//     }
//     .link:hover {
//         opacity: .5;
//     }
// }

