.header {
    @include row;
    background-color: $grey;
    box-shadow: 0 3px 20px rgba($color: black, $alpha: .2);
    position: relative;
    z-index: 10;
    // justify-content: space-between;
}

.roku-logo {
    @include col;
    //align-self: end;
    justify-content: center;
    justify-self: center;
    margin: 30px auto;
    img {
        width: 80px;
    }
}

.flashback-logo {
    position: absolute;
    right: 20px;
    top: 5%;
    bottom: 5%;
    @include col;
    width: 30%;
    max-width: 200px;
    //align-self: end;
    justify-content: center;
}

.burger {
    position: absolute;
    @include col;
    align-items: center;
    justify-content: center;
    background-color: $black;
    order: -1;
    cursor: pointer;
    margin-right: 10px;
    img {
        margin: 35px 20px;
        transition: all ease .5s;
    }
}

.rotated {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.nav {
    display: none;
}

.expanded {
    @include col;
    //width: 50%;
    background-color: $black;
    //padding: 40px 40px 100vh 30px;
    padding-bottom: 100vh;
    position: absolute;
    li {
        @include row;
        padding: 25px 70px 25px 30px;
        background-color: $black;
        transition: all ease .5s;
    }
    li:hover {
        border: .5px solid rgba($color: #999, $alpha: .3);
        transform: scale(1.05);
    }
    .nav-link {
        margin-left: 20px;
        text-transform: uppercase;
    }
}

.close-burger {
    cursor: pointer;
    padding: 50px 70px 25px 35px;
    transition: all ease .5s;
    text-transform: uppercase;
}

.close-burger:hover {
    opacity: .5;
}
