.login-wrapper {
    @include col;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 80px;
    h2 {
        margin-top: 100px;
    }
}

.login-form {
    @include col;
    align-items: center;
    margin-top: 40px;
    width: 100%;
}

// .not-member {
//     @include row;
//     margin-top: 100px;
//     .link {
//         margin-left: 10px;
//         text-transform: uppercase;
//         transition: .5s ease all;
//     }
//     .link:hover {
//         opacity: .5;
//     }
// }

.form-msg {
    border-top: 20px;
}