.media-details-wrapper {
    @include col;
}

.audio-info-poster {
    align-self: center;
    margin-top: 40px;
}

.audio {
    align-self: center;
    margin-top: 20px;
    width: 90%;
}

.media-details {
    @include col;
    margin: 20px 50px 80px 50px;
}

.media-year {
    font-size: .9em;
}

.media-title {
    margin-top: 30px;
    font-size: 1.5em;
    font-weight: bold;
    
}

.media-storyline {
    margin-top: 20px;
    line-height: 1.2em;
}

.genre-rating-wrapper {
    @include row;
    margin-top: 20px;
}

.genre-card, .rating-card {
    background-color: $grey;
    border: 1px solid $light-grey;
    width: 100px;
    height: 36px;
    @include col;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 20px;
    font-size: .9em;
}

.genre-card {
    margin-right: 10px;
}

.music-genre-card {
    margin-top: 20px;
}

.media-rating {
    @include row;
    align-items: center;
    margin-top: 30px;
    h4 { font-weight: bold; }
    p { margin-left: 20px; }
}

.star-icon {
    margin-left: 5px;
    width: 40px;
}

.share-btns {
    margin-top: 30px;
    h4 { font-weight: bold; }
}

.btn-row {
    @include row;
    align-items: end;
    margin-top: 10px;
}

.facebook-share {
    width: 30px;
    margin-right: 20px;
}

.twitter-share {
    width: 40px;
    margin-top: 3px;
}

.comments {
    margin-top: 40px;
    h4 {
        font-weight: bold;
    }
}



