.signup-wrapper {
    @include col;
    align-items: center;
    h1 {
        margin-top: 100px;
    }
}

.avatar-wrapper {
    margin-top: 40px;
    @include col;
    align-items: center;
}

.avatars {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 20px;
    img {
        width: 80px;
        cursor: pointer;
    }
}

.signup-form {
    @include col;
    align-items: center;
    margin-top: 40px;
    h2 {
        margin-bottom: 10px;
    }
    button {
        position: relative;
        margin-top: 40px
    }
}

.arrow {
    position: absolute;
    right: 10px;
}

.already-member {
    @include row;
    margin: 40px 0;
    .link {
        margin-left: 10px;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 500px) {
    .avatars {
        img {
            width: 120px;
        }
    }
}

@media screen and (min-width: 800px) {
    .avatars {
        img {
            width: 180px;
        }
    }
}