.users-wrapper {
    margin-top: 80px;
    margin-left: 20px;
    margin-bottom: 80px;
}

.users {
    width: 100%;
    h3 {
        margin-bottom: 60px;
        font-family: $copy-font;
        font-size: 2em;
        font-weight: bold;
    }
    li {
        margin-top: 40px;
        @include row;
    }
}

.users-avatar {
    width: 40em;
    height: 10em;
    cursor: pointer;
    transition: all .5s ease;
}

.users-avatar:hover, .users-avatar:focus,
.create-user-avatar:hover, .create-user-avatar:focus {
    border: 3px solid $orange;
    border-bottom: 10px solid $orange;
}

.create-user-avatar {
    cursor: pointer;
    transition: all .5s ease;
    border: 3px solid black;
    border-bottom: 10px solid black;
    border-radius: 10px;
    width: 40em;
    height: 10em;
    background-color: $grey;
}

.user-name {
    margin-top: 10px;
    align-self: center;
    text-transform: uppercase;
    font-family: $Breamcatcher;
    font-size: 3em;
    cursor: pointer;
    transition: all .5s ease;
}

.user-name:hover, .user-name:focus {
    color: $orange;
}

.user-arrow {
    margin-left: auto;
    margin-right: 30px;
    align-self: center;
    cursor: pointer;
    transition: all .5s ease;
}

.user-arrow:hover, .user-arrow:focus {
    color: $orange;
}

.user-plus {
    margin-left: auto;
    margin-right: 30px;
    align-self: center;
    font-size: 1.3em;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid white;
    @include col;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .5s ease;
    span {
        font-size: 1.5em;
        margin-top: 2px;
    }
}

.user-plus:hover, .user-plus:focus {
    color: $orange;
    border: 1px solid $orange;
}

@media screen and (min-width: 450px) {
    .users-wrapper {
        margin-left: 40px;
    }
    
    .users {
        li {
            img {
                width: 120px;
            }
        }
    }

    .user-name {
        margin-left: 40px;
    }

    .user-arrow {
        margin-right: 50px;
        font-size: 1.5em;
    }

    .user-plus {
        margin-right: 50px;
        font-size: 1.5em;
        width: 30px;
        height: 30px;
        border-radius: 30px;
    }
}

@media screen and (min-width: 768px) {
    .users-wrapper {
        margin-left: 40px;
    }
    
    .users {
        li {
            img {
                width: 160px;
            }
        }
    }

    .user-arrow {
        margin-right: 100px;
        font-size: 1.5em;
    }

    .user-plus {
        margin-right: 100px;
        font-size: 1.5em;
        width: 30px;
        height: 30px;
        border-radius: 30px;
    }
}


